<div class="about-me">
    <div class="columns col-oneline">
        <div class="column col-6" style="padding-right:5rem;">
            <h1>About me.</h1>
            <h2>Who am I?</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam pulvinar finibus erat et pulvinar. Quisque diam sapien, mattis vitae dui sed, egestas tempor eros. In in lacus eget nibh rutrum ultrices ac vel eros. Donec eu erat facilisis ex gravida porttitor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Integer efficitur lacinia diam, id gravida lorem tincidunt ac. Donec vitae lectus tempus, vestibulum mi eget, ultrices purus. Proin varius dignissim justo. Aliquam porttitor purus quis pharetra viverra. In magna turpis, sollicitudin sit amet mauris eget, molestie rhoncus turpis. Sed nibh sem, malesuada et finibus a, rhoncus a velit. Etiam rhoncus auctor varius. Proin turpis felis, vestibulum vitae purus id, commodo sagittis turpis. Nam bibendum efficitur sapien, eu semper tortor laoreet sit amet.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam pulvinar finibus erat et pulvinar. Quisque diam sapien, mattis vitae dui sed, egestas tempor eros. In in lacus eget nibh rutrum ultrices ac vel eros. Donec eu erat facilisis ex gravida porttitor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
            <button onclick="window.location.href='/blog'" class="button button-1" type="button">CHECK OUT MY BLOG</button>
    </div>
        <div class="about-img" class="column col-6">
            <img src="https://images.unsplash.com/photo-1449247709967-d4461a6a6103?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80" alt="About me image." height="400">
        </div>
    </div>

    
</div>

<!--
<div class="projects">
    <div class="columns col-gapless">
        <div class="column col-6">col-6</div>
        <div class="column col-6">col-6</div>
    </div>
</div>
-!>