<h1>Contact me</h1>
<p>Want to contact me? Fill out the form below.</p>

{{#if errors.length}}
    <p>Could not send the message because:</p>
    <ul>
        {{#each errors}}
        <li>{{this}}</li>
        {{/each}}
    </ul>
{{/if}}

{{#if isLoggedIn}}
<div>
    <h2>View messages? Click the button below.</h2>
    <a href="messages">
       <input type="submit" value="MESSAGES" class="button">
    </a>
</div>
{{/if}}

<form action="/create-message" method="POST" id="all-forms">
    <div>
        First name: <input type="text" name="firstname">
    </div>
    <div>
        Last name: <input type="text" name="lastname">
    </div>
    <div>
        Email: <input type="text" name="email">
    </div>
    <div>
        Phone: <input type="integer" name="phone">
    </div>
    <div>
        Message: <input type="text" name="message">
    </div>
    <input type="submit" value="SUBMIT" id="submit-button">
</form>