<h1 style="position:relative; left:-5px;">Write something in my guestbook!</h1>

<form action="/create-guest" method="POST" id="all-forms">
    <div>
        First name: <input type="text" name="firstname">
    </div>
    <div>
        Last name: <input type="text" name="lastname">
    </div>
    <div>
        Email: <input type="text" name="email">
    </div>
    <div>
        Message: <input type="text" name="message">
    </div>
    <input type="submit" value="Send" id="submit-button">
</form>


<div style="position:relative; top:5rem;">
    <h2 style="font-weight:600;font-size:18px;">View previous comments?</h2>
    <button onclick="window.location.href='/guests'" class="button button-1" type="button" style="position:relative; top:3px;" >COMMENTS</button>
</div>