<h1 style="position:relative; left:-5px;">Write something in my guestbook!</h1>

<form action="/create-guest" method="POST" id="all-forms">
    <div>
        First name: <input type="text" name="firstname">
    </div>
    <div>
        Last name: <input type="text" name="lastname">
    </div>
    <div>
        Email: <input type="text" name="email">
    </div>
    <div>
        Message: <input type="text" name="message">
    </div>
    <input type="submit" value="SEND" id="submit-button">
</form>


<div style="position:relative; top:5rem;">
    <h2 style="font-weight:600;font-size:18px;">View previous guests?</h2>
    <a href="guests">
       <input type="submit" value="GUESTS" class="button">
    </a>
</div>