<h1>Contact me</h1>


<form action="" method="POST">
    <div>
        First name: <input type="text" name="firstname">
    </div>
    <div>
        Last name: <input type="text" name="lastname">
    </div>
    <div>
        Email: <input type="text" name="email">
    </div>
    <div>
        Phone: <input type="integer" name="phone">
    </div>
    <div>
        Message: <input type="text" name="message">
    </div>
    <input type="submit" value="Contact me" id="submit-button">
</form>