<h1>Contact</h1>

{{#if validationErrors.length}}
    <p>Could not send the message because:</p>
    <ul>
        {{#each validationErrors}}
        <li>{{this}}</li>
        {{/each}}
    </ul>
{{/if}}

{{#if isLoggedIn}}
<div>
    <h2>View messages? Click the button below.</h2>
    <button onclick="window.location.href='/messages'" class="button button-1" type="button">MESSAGES</button>
</div>
{{/if}}

<form action="/create-message" method="POST" id="all-forms">
    <div>
        First name: <input type="text" name="firstname">
    </div>
    <div>
        Last name: <input type="text" name="lastname">
    </div>
    <div>
        Email: <input type="text" name="email">
    </div>
    <div>
        Phone: <input type="integer" name="phone">
    </div>
    <div>
        Message: <input type="text" name="message">
    </div>
    <input type="submit" value="Submit" id="submit-button">
</form>