<h1>Write something in my guestbook!</h1>


<form action="/create-guest" method="POST">
    <div>
        First name: <input type="text" name="firstname">
    </div>
    <div>
        Last name: <input type="text" name="lastname">
    </div>
    <div>
        Email: <input type="text" name="email">
    </div>
    <div>
        Message: <input type="text" name="message">
    </div>
    <input type="submit" value="Send" id="submit-button">
</form>