<div class="description">
    <h1>My name is Linn.</h1>
    <h2>Graphic- &amp; UX Designer</h2>
    <p>I am a 19 year old uni-student settled in Sweden Jönköping.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam pulvinar finibus erat et pulvinar. Quisque diam sapien, mattis vitae dui sed, egestas tempor eros. In in lacus eget nibh rutrum ultrices ac vel eros. Donec eu erat facilisis ex gravida porttitor. Lorem ipsum dolor sit amet, consectetur adipiscing elit &#128512;</p>
    <a href="about">
       <input type="submit" value="ABOUT ME" class="button">
    </a>
</div>
