<div class="description">
    <h1>My name is Linn.</h1>
    <h2>Graphic- &amp; UX Designer</h2>
    <p>I am a 19 year old uni-student settled in Sweden Jönköping.</p>
    <button onclick="window.location.href='/about'" class="button button-1" type="button">ABOUT ME</button>
</div>

<div style="position: relative; top:2rem;">
    <button onclick="window.location.href='/login'" class="button button-2" type="button">LOGIN for ADMIN</button>
</div>
