<h1>Projects</h1>

<div>
    <h2>Create new project?</h2>
    <button onclick="window.location.href='/create-project'" class="button button-1" type="button">CREATE</button>
</div>

{{#if projects.length}}

    <ul>
        {{#each projects}}
        <li><a href="/projects/{{id}}">{{title}}</a> ({{difficulty}} / 10)</li>

        {{/each}}
    </ul>

{{else}}

<p>No projects have been posted yet!</p>

{{/if}}


